In [2]:
import pandas as pd
df=pd.read_csv("C:\\Users\\ARUN\\Downloads\\jobmodel\\StudentsPerformance.csv")
print(df.head())

   gender race/ethnicity parental level of education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard

  test preparation course  math score  reading score  writing score
0                    none          72             72             74
1               completed          69             90             88
2                    none          90             95             93
3                    none          47             57             44
4                    none          76             78             75

In [3]:
print(df.shape)

(1000, 8)

In [4]:
print(df.describe())

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [5]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB
None

In [6]:
print(df.isnull().sum())

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [7]:
df.rename(columns={
    "gender": "gender",
    "race/ethnicity": "ethnicity",
    "parental level of education": "parental_education",
    "lunch": "lunch",
    "test preparation course": "test_preparation_course",
    "math score": "math_score",
    "reading score": "reading_score",
    "writing score": "writing_score"
}, inplace=True)

In [8]:
df["total_score"] = df["math_score"] + df["reading_score"] + df["writing_score"]

print("Updated Columns:", df.columns.tolist())
print("First 5 rows after cleaning:")
print(df.head())

Updated Columns: ['gender', 'ethnicity', 'parental_education', 'lunch', 'test_preparation_course', 'math_score', 'reading_score', 'writing_score', 'total_score']

First 5 rows after cleaning:
   gender ethnicity  parental_education         lunch test_preparation_course  \
0  female   group B   bachelor's degree      standard                    none
1  female   group C        some college      standard               completed
2  female   group B     master's degree      standard                    none
3    male   group A  associate's degree  free/reduced                    none
4    male   group C        some college      standard                    none

   math_score  reading_score  writing_score  total_score
0          72             72             74          218
1          69             90             88          247
2          90             95             93          278
3          47             57             44          148
4          76             78             75          229

In [9]:
print(df.groupby("gender")["math_score"].mean())

gender
female    63.633205
male      68.728216
Name: math_score, dtype: float64

In [10]:
print(df.nlargest(5, "total_score"))

     gender ethnicity  parental_education     lunch test_preparation_course  \
458  female   group E   bachelor's degree  standard                    none
916    male   group E   bachelor's degree  standard               completed
962  female   group E  associate's degree  standard                    none
114  female   group E   bachelor's degree  standard               completed
179  female   group D    some high school  standard               completed

     math_score  reading_score  writing_score  total_score
458         100            100            100          300
916         100            100            100          300
962         100            100            100          300
114          99            100            100          299
179          97            100            100          297

In [12]:
print(df.groupby("ethnicity")["reading_score"].mean())

ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading_score, dtype: float64

In [13]:
print(df.groupby("ethnicity")["reading_score"].mean().idxmax())

group E

In [14]:
print(df.groupby("test_preparation_course")["writing_score"].mean())

test_preparation_course
completed    74.418994
none         64.504673
Name: writing_score, dtype: float64

In [15]:
print(df[["reading_score", "writing_score", "math_score"]].corr())

               reading_score  writing_score  math_score
reading_score       1.000000       0.954598    0.817580
writing_score       0.954598       1.000000    0.802642
math_score          0.817580       0.802642    1.000000

In [16]:
def categorize_performance(score):
    if score >= 240:
        return "Excellent"
    elif score >= 180:
        return "Good"
    else:
        return "Needs Improvement"

df["performance_category"] = df["total_score"].apply(categorize_performance)

In [17]:
print(df["performance_category"])

0                   Good
1              Excellent
2              Excellent
3      Needs Improvement
4                   Good
             ...
995            Excellent
996    Needs Improvement
997                 Good
998                 Good
999            Excellent
Name: performance_category, Length: 1000, dtype: object